{% extends 'base.html' %}

{% block account_button %}
   
{% endblock %}

{% block content %}
<br/>
    <div>
    <button style="background-color: brown; overflow: hidden; padding: 15px; border-radius: 5px; padding-left: 20px; padding-right: 20px; padding-bottom: 5px; padding-top: 5px;"><a href="{{ url_for('upload_file') }}" style="display: block; color:white; text-align: center;text-decoration: none;">Sell</a></button>


    <button style="background-color: brown; overflow: hidden;
    padding: 15px; border-radius: 5px; padding-left: 20px; padding-right: 20px; padding-bottom: 5px; padding-top: 5px;"><a href="{{ url_for('display_properties') }}" style="display: block;color: white; text-align: center;text-decoration: none;">Buy</a></button>
     </button>
     <div/>
    
{% endblock %}
