{% extends 'base.html' %}

{% block title %}Buy{% endblock %}

{% block head %}
    <!-- Link to external JavaScript file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="{{ url_for('static', filename='js/search.js') }}" defer></script>
    <style>
        /* Your inline styles go here */
        body {
            background-color: #f8f9fa;
        }

        /* Add any other custom styles as needed */
    </style>
{% endblock %}

{% block content %}
    <h2>Buy Page</h2>

    
    <div id="property-list-container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        {% for property in properties %}
            <div class="property-item" data-property-type="{{ property.type | default('all') }}" data-location="{{ property.location }}" data-bedrooms="{{ property.bedrooms }}" data-price="{{ property.price }}" style="margin: 10px; text-align: center; background-color: #333; color: #fff; border-radius: 8px; padding: 15px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div style="position: relative; max-width: 100%; overflow: hidden; border-radius: 8px;">
                    <video controls style="width: 100%; height: 100%; object-fit: cover; border-radius: 8px;">
                        <source src="{{ url_for('serve_uploaded_file', filename=property.filename) }}" type="video/webm">
                        <source src="{{ url_for('serve_uploaded_file', filename=property.filename) }}" type="video/mp4">
                        <source src="{{ url_for('serve_uploaded_file', filename=property.filename) }}" type="video/avi">
                        <source src="{{ url_for('serve_uploaded_file', filename=property.filename) }}" type="video/mov">
                        <source src="{{ url_for('serve_uploaded_file', filename=property.filename) }}" type="video/mkv">
                        Your browser does not support the video tag.
                    </video>
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer;">
                        
                    </div>
                </div>

                <p>
                    <strong>Location:</strong> {{ property.location }}<br>
                    <strong>Title:</strong> {{ property.title }}<br>
                    <strong>Bedrooms:</strong> {{ property.bedrooms }}<br>
                    <strong>Price:</strong> {{ property.price }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
